<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BoardsSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BoardsSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://plkwim0app07/jrwebservices/mes.asmx"
                binding="basicHttpBinding" bindingConfiguration="BoardsSoap"
                contract="MESwebservice.BoardsSoap" name="BoardsSoap" />
            <endpoint address="http://plkwim0app07/jrwebservices/mes.asmx"
                binding="customBinding" bindingConfiguration="BoardsSoap12"
                contract="MESwebservice.BoardsSoap" name="BoardsSoap12" />
        </client>
    </system.serviceModel>
</configuration>